# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# Maven
/target/
/log/
/lib/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/remember
.idea/dataSources/0273b2a8-3341-4756-92f1-f004331feee6/_src_/
.idea/dataSources/0273b2a8-3341-4756-92f1-f004331feee6/_staging_/
.idea/dataSources/bd9fa95c-999d-40da-b889-9537cde991f0/_src_/
.idea/dataSources/bd9fa95c-999d-40da-b889-9537cde991f0/_staging_/
.idea/dataSources/f0229ff2-2e7a-4a3d-a2ec-69df96436aed/_src_/
.idea/dataSources/f0229ff2-2e7a-4a3d-a2ec-69df96436aed/_staging_/
.idea/inspectionProfiles/
remember
